In [2]:
import os
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [3]:
from const import *     # 导入模拟常量

In [3]:
df_ret = pd.read_csv('Test_Data/01/daily_return.csv').set_index('Share_Code')
df_ret

              Returns
Share_Code
S0001       -7.948902
S0002      -58.545510
S0003      -92.877955
S0004      -65.097756
S0005      -86.873982
...               ...
S0996       44.580127
S0997       16.993824
S0998      -47.694709
S0999      -48.713503
S1000      -62.227860

[1000 rows x 1 columns]

In [4]:
df_fac = pd.read_csv('Test_Data/01/factors.csv').set_index('Share_Code')
df_fac

,F01,F02,F03,F04,F05,F06,F07,F08,F09,F10
Share_Code,,,,,,,,,,
S0001,-1.173476,0.048446,-1.110863,0.773742,0.298574,1.565508,-0.855560,-0.253320,0.634405,0.545349
S0002,0.200535,-0.758235,0.665620,0.712008,-0.559556,0.937118,-0.102604,1.547028,0.023546,0.807297
S0003,-1.913863,-0.343154,-0.705215,-0.977203,0.106590,0.592258,-1.332234,-1.138470,-2.271969,-0.496426
S0004,1.755917,0.160968,-0.575703,-0.427317,-0.586931,-0.583641,-1.579187,-0.008385,0.008677,-1.731370
S0005,1.148271,-0.339224,0.238410,0.156568,-1.701158,0.980258,-0.133641,-0.143278,0.117008,1.087862
...,...,...,...,...,...,...,...,...,...,...
S0996,-1.760623,-0.179231,-1.830348,0.910680,-1.531482,0.245094,1.012913,-0.716548,0.691221,-1.368357
S0997,-0.206292,1.452688,0.906854,0.538197,1.382518,-0.424884,1.587584,0.101715,1.021314,-1.194023
S0998,-1.121206,-0.065316,0.531581,-1.844902,-0.683804,2.128710,-0.581870,-0.346145,-0.264255,0.773247
S0999,-0.092204,-0.432376,0.298563,-0.011183,0.268577,-0.126587,-1.098551,0.056066,0.840591,0.766357
S1000,0.011939,0.640341,-0.796612,-0.418141,-1.940258,0.791691,0.262835,-1.116689,0.834878,-1.802618

In [5]:
df_ind = pd.read_csv('Test_Data/01/industries.csv').set_index('Share_Code')
df_ind

,I01,I02,I03,I04,I05,I06,I07,I08,I09,I10,I11,I12,I13,I14,I15,I16,I17,I18,I19,I20
Share_Code,,,,,,,,,,,,,,,,,,,,
S0001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
S0002,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S0003,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S0004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S0005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
S0996,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S0997,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S0998,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S0999,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S1000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [6]:
df = pd.concat([df_ret, df_fac, df_ind], axis = 1).dropna()
df

,Returns,F01,F02,F03,F04,F05,F06,F07,F08,F09,...,I11,I12,I13,I14,I15,I16,I17,I18,I19,I20
Share_Code,,,,,,,,,,,,,,,,,,,,,
S0001,-7.948902,-1.173476,0.048446,-1.110863,0.773742,0.298574,1.565508,-0.855560,-0.253320,0.634405,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
S0002,-58.545510,0.200535,-0.758235,0.665620,0.712008,-0.559556,0.937118,-0.102604,1.547028,0.023546,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S0003,-92.877955,-1.913863,-0.343154,-0.705215,-0.977203,0.106590,0.592258,-1.332234,-1.138470,-2.271969,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S0004,-65.097756,1.755917,0.160968,-0.575703,-0.427317,-0.586931,-0.583641,-1.579187,-0.008385,0.008677,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S0005,-86.873982,1.148271,-0.339224,0.238410,0.156568,-1.701158,0.980258,-0.133641,-0.143278,0.117008,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
S0996,44.580127,-1.760623,-0.179231,-1.830348,0.910680,-1.531482,0.245094,1.012913,-0.716548,0.691221,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S0997,16.993824,-0.206292,1.452688,0.906854,0.538197,1.382518,-0.424884,1.587584,0.101715,1.021314,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S0998,-47.694709,-1.121206,-0.065316,0.531581,-1.844902,-0.683804,2.128710,-0.581870,-0.346145,-0.264255,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S0999,-48.713503,-0.092204,-0.432376,0.298563,-0.011183,0.268577,-0.126587,-1.098551,0.056066,0.840591,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S1000,-62.227860,0.011939,0.640341,-0.796612,-0.418141,-1.940258,0.791691,0.262835,-1.116689,0.834878,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [8]:
model = sm.OLS(df.iloc[:,0], df.iloc[:,1:])
results = model.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                Returns   R-squared:                       0.020
Model:                            OLS   Adj. R-squared:                 -0.011
Method:                 Least Squares   F-statistic:                    0.6527
Date:                Sat, 26 Mar 2022   Prob (F-statistic):              0.921
Time:                        14:45:03   Log-Likelihood:                -5225.2
No. Observations:                 955   AIC:                         1.051e+04
Df Residuals:                     925   BIC:                         1.066e+04
Df Model:                          29
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
F01           -1.0996      1.922     -0.572      0.567      -4.871       2.671
F02            2.0666      1.916      1.079      0.281      -1.693       5.826
F03           -2.3690      1.914     -1.238      0.216      -6.125       1.387
F04            1.6239      1.914      0.848      0.396      -2.132       5.380
F05           -0.6304      1.912     -0.330      0.742      -4.382       3.121
F06           -2.1187      1.907     -1.111      0.267      -5.861       1.623
F07            2.0640      1.915      1.078      0.282      -1.695       5.823
F08           -0.9920      1.917     -0.518      0.605      -4.754       2.770
F09           -1.1102      1.951     -0.569      0.569      -4.939       2.719
F10            1.6757      1.902      0.881      0.378      -2.056       5.408
I01            1.6899      9.074      0.186      0.852     -16.118      19.497
I02            1.9743      8.473      0.233      0.816     -14.655      18.604
I03            3.7272      8.061      0.462      0.644     -12.093      19.548
I04            5.3010      8.141      0.651      0.515     -10.676      21.278
I05           -5.0682      8.294     -0.611      0.541     -21.346      11.209
I06           -9.6270      8.839     -1.089      0.276     -26.974       7.720
I07           -8.0975      9.463     -0.856      0.392     -26.669      10.474
I08          -11.9638      8.837     -1.354      0.176     -29.307       5.380
I09            0.3295      8.141      0.040      0.968     -15.648      16.307
I10            7.9484      9.952      0.799      0.425     -11.583      27.480
I11            7.9803      8.299      0.962      0.337      -8.308      24.268
I12            1.2286      8.756      0.140      0.888     -15.955      18.413
I13          -12.2144      8.055     -1.516      0.130     -28.023       3.594
I14           -4.0897      8.365     -0.489      0.625     -20.506      12.327
I15            3.1908      8.485      0.376      0.707     -13.462      19.843
I16           -0.1357      8.454     -0.016      0.987     -16.726      16.455
I17           -8.5637      8.668     -0.988      0.323     -25.575       8.448
I18           -1.4840      7.839     -0.189      0.850     -16.868      13.900
I19            3.6650      7.902      0.464      0.643     -11.843      19.173
I20            3.0842      8.705      0.354      0.723     -14.000      20.169
==============================================================================
Omnibus:                      585.000   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               55.425
Skew:                           0.043   Prob(JB):                     9.22e-13
Kurtosis:                       1.823   Cond. No.                         5.65
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [9]:
a = results.params      # 每日的因子收益 F_ret[j] 和 行业收益率 I_ret[j]
a

F01    -1.099633
F02     2.066573
F03    -2.369018
F04     1.623881
F05    -0.630382
F06    -2.118708
F07     2.063986
F08    -0.992031
F09    -1.110229
F10     1.675738
I01     1.689877
I02     1.974287
I03     3.727225
I04     5.300989
I05    -5.068153
I06    -9.627045
I07    -8.097479
I08   -11.963832
I09     0.329470
I10     7.948412
I11     7.980281
I12     1.228583
I13   -12.214358
I14    -4.089663
I15     3.190770
I16    -0.135706
I17    -8.563694
I18    -1.483972
I19     3.665015
I20     3.084194
dtype: float64

In [13]:
residual = results.resid              # 股票日残差收益率 S_ret[i]
residual

Share_Code
S0001    -8.281719
S0002   -49.216704
S0003   -94.795230
S0004   -60.842565
S0005   -73.190759
           ...
S0996    35.038040
S0997    13.279624
S0998   -42.879796
S0999   -47.297029
S1000   -65.659632
Length: 955, dtype: float64

In [11]:
df_ret

              Returns
Share_Code
S0001       -7.948902
S0002      -58.545510
S0003      -92.877955
S0004      -65.097756
S0005      -86.873982
...               ...
S0996       44.580127
S0997       16.993824
S0998      -47.694709
S0999      -48.713503
S1000      -62.227860

[1000 rows x 1 columns]

In [25]:
a

F01    -1.099633
F02     2.066573
F03    -2.369018
F04     1.623881
F05    -0.630382
F06    -2.118708
F07     2.063986
F08    -0.992031
F09    -1.110229
F10     1.675738
I01     1.689877
I02     1.974287
I03     3.727225
I04     5.300989
I05    -5.068153
I06    -9.627045
I07    -8.097479
I08   -11.963832
I09     0.329470
I10     7.948412
I11     7.980281
I12     1.228583
I13   -12.214358
I14    -4.089663
I15     3.190770
I16    -0.135706
I17    -8.563694
I18    -1.483972
I19     3.665015
I20     3.084194
dtype: float64

In [17]:
pd.read_csv('Test_Data/02/factors.csv').iloc[:,1:]

,F01,F02,F03,F04,F05,F06,F07,F08,F09,F10
0,0.348323,0.058334,2.436289,0.377310,0.003209,-0.155451,0.326188,-0.930968,-0.736767,-0.325002
1,-0.625620,-0.737273,0.735243,0.142898,1.222948,0.795477,0.017896,-0.382183,-0.978155,-2.106414
2,-0.171146,1.397400,0.004442,0.686935,0.544029,-0.913950,-0.197493,-0.864368,-0.195913,0.371748
3,-0.637626,0.371208,-0.560175,-0.534544,1.176428,1.143806,0.750142,0.469683,-0.529691,1.909914
4,1.213027,-0.596905,0.878721,1.206269,-0.643460,1.142618,2.672951,0.418870,1.023602,0.331274
...,...,...,...,...,...,...,...,...,...,...
995,2.330076,0.760541,1.170731,1.700289,-0.442829,-0.709781,0.795868,0.276967,0.627908,0.105890
996,0.874620,-0.124103,0.752651,-0.260944,0.797950,-2.462029,1.632783,2.372147,2.530690,0.538694
997,0.979533,1.723141,-1.013026,0.099491,0.248068,-0.574441,0.076393,-0.551775,-0.183671,-0.057389
998,0.344828,-1.885295,-0.909859,-0.351754,-0.619029,0.084447,-1.013719,-0.655854,1.321323,-0.541716
999,1.711815,-0.802823,-0.142328,0.707297,-1.704994,0.890848,-0.812798,-1.164807,0.457402,1.644246

In [24]:
M_sfExpo = np.array(pd.read_csv('Test_Data/02/factors.csv').iloc[:,1:].fillna(0))  # 风格因子暴露
M_ifExpo = np.array(pd.read_csv('Test_Data/02/industries.csv').iloc[:,1:])         # 行业暴露
V_ret = np.array(pd.read_csv('Test_Data/02/daily_return.csv')['Returns'])                       # 真实收益
df = pd.read_csv('Dump_Data/02/style_factor_return.csv')
sf_name = df['Factor_Name']
V_sfRet = np.array(df['Factor_Ret'])                            # 风格因子收益
df = pd.read_csv('Dump_Data/02/industry_factor_return.csv')
if_name = df['Factor_Name']
V_ifRet = np.array(df['Factor_Ret'])                            # 行业因子收益
V_resi = np.array(pd.read_csv('Dump_Data/02/residual_return.csv')['Residual_Returns'])          # 残差收益率
W = np.array(pd.read_csv('Test_Data/01/daily_weight.csv')['Weight'])                            # 投资权重

In [31]:
a = pd.read_csv('Dump_Data/02/style_factor_return.csv')['Factor_Name']
a

0    F01
1    F02
2    F03
3    F04
4    F05
5    F06
6    F07
7    F08
8    F09
9    F10
Name: Factor_Name, dtype: object

In [32]:
b = pd.read_csv('Dump_Data/02/industry_factor_return.csv')['Factor_Name']
b

0     I01
1     I02
2     I03
3     I04
4     I05
5     I06
6     I07
7     I08
8     I09
9     I10
10    I11
11    I12
12    I13
13    I14
14    I15
15    I16
16    I17
17    I18
18    I19
19    I20
Name: Factor_Name, dtype: object

In [39]:
idx = pd.concat([a, b])
idx

0     F01
1     F02
2     F03
3     F04
4     F05
5     F06
6     F07
7     F08
8     F09
9     F10
0     I01
1     I02
2     I03
3     I04
4     I05
5     I06
6     I07
7     I08
8     I09
9     I10
10    I11
11    I12
12    I13
13    I14
14    I15
15    I16
16    I17
17    I18
18    I19
19    I20
Name: Factor_Name, dtype: object

In [34]:
rsf = np.matmul(W.T, M_sfExpo) * V_sfRet
rsf

array([-0.05173027, -0.04788578,  0.04863269,  0.38431462,  0.087119  ,
        0.00735976, -0.1416313 , -0.0416605 , -0.10132515,  0.06568511])

In [35]:
rif = np.matmul(W.T, M_ifExpo) * V_ifRet
rif

array([-0.01735667,  0.27189089, -0.04738826,  0.02621029, -0.00055779,
        0.03928838,  0.05305249,  0.0166798 ,  0.1728513 ,  0.09037274,
        0.03474739, -0.09456893, -0.04630469, -0.02536839,  0.03285723,
        0.05841546,  0.00691842, -0.04868989,  0.00323117,  0.05583391])

In [46]:
val = np.append(rsf, rif)
val

array([-0.05173027, -0.04788578,  0.04863269,  0.38431462,  0.087119  ,
        0.00735976, -0.1416313 , -0.0416605 , -0.10132515,  0.06568511,
       -0.01735667,  0.27189089, -0.04738826,  0.02621029, -0.00055779,
        0.03928838,  0.05305249,  0.0166798 ,  0.1728513 ,  0.09037274,
        0.03474739, -0.09456893, -0.04630469, -0.02536839,  0.03285723,
        0.05841546,  0.00691842, -0.04868989,  0.00323117,  0.05583391])

In [69]:
df = pd.DataFrame(val, index = idx, columns=['Return'])
df.loc['Residual'] = u
df.index.name = 'Name'
df

            Return
Name
F01      -0.051730
F02      -0.047886
F03       0.048633
F04       0.384315
F05       0.087119
F06       0.007360
F07      -0.141631
F08      -0.041661
F09      -0.101325
F10       0.065685
I01      -0.017357
I02       0.271891
I03      -0.047388
I04       0.026210
I05      -0.000558
I06       0.039288
I07       0.053052
I08       0.016680
I09       0.172851
I10       0.090373
I11       0.034747
I12      -0.094569
I13      -0.046305
I14      -0.025368
I15       0.032857
I16       0.058415
I17       0.006918
I18      -0.048690
I19       0.003231
I20       0.055834
Residual  2.535386

In [43]:
u = np.dot(W.T, V_resi)
u

2.535385751271136

In [22]:
sum(rsf) + sum(rif) + u

3.32637878114099

In [23]:
R = np.dot(W.T, V_ret)
R

3.3263787811409857

In [70]:
df_fr = pd.read_csv(f'Dump_Data/02/return_decomposition.csv').set_index('Factor_Name')
df_fr

               Return
Factor_Name
F01         -0.051730
F02         -0.047886
F03          0.048633
F04          0.384315
F05          0.087119
F06          0.007360
F07         -0.141631
F08         -0.041661
F09         -0.101325
F10          0.065685
I01         -0.017357
I02          0.271891
I03         -0.047388
I04          0.026210
I05         -0.000558
I06          0.039288
I07          0.053052
I08          0.016680
I09          0.172851
I10          0.090373
I11          0.034747
I12         -0.094569
I13         -0.046305
I14         -0.025368
I15          0.032857
I16          0.058415
I17          0.006918
I18         -0.048690
I19          0.003231
I20          0.055834
Residual     2.535386

In [76]:
df_fr['Return'][:-1]

Factor_Name
F01   -0.051730
F02   -0.047886
F03    0.048633
F04    0.384315
F05    0.087119
F06    0.007360
F07   -0.141631
F08   -0.041661
F09   -0.101325
F10    0.065685
I01   -0.017357
I02    0.271891
I03   -0.047388
I04    0.026210
I05   -0.000558
I06    0.039288
I07    0.053052
I08    0.016680
I09    0.172851
I10    0.090373
I11    0.034747
I12   -0.094569
I13   -0.046305
I14   -0.025368
I15    0.032857
I16    0.058415
I17    0.006918
I18   -0.048690
I19    0.003231
I20    0.055834
Name: Return, dtype: float64